<!--
Завдання №1.

- Для h1 тега: Замініть колір тексту на зелений.
- Для p тега: Зробіть колір заливки тексту червоним
- Для button тега: Зробіть штрихи тексту в 1px з кольором #000

Увага!!! Звертайте увагу на те, що є клас "task_1", використовуйте його як Селектор нащадка для тегів , щоб у вас все
 коректно працювало
-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 1</div>
	<div class='card-body task_1'>

		<h1 class='mb-2'>Centered hero</h1>
		<p class='mb-2'>Quickly design and customize responsive mobile-first sites with Bootstrap</p>
		<button class='btn btn-primary'>Submit</button>

	</div>
</section>

<!-- ============================== -->

<!--
Завдання №2.

- Для h1 тега: Змініть напрям тексту на "rtl" (справа наліво).
- Для p тега: Змініть вирівнювання тексту на праворуч
- Для button тега: Змініть регістр тексту кнопки, використовуючи властивість регістра тексту.

Увага!!! Звертайте увагу на те, що є клас "task_2", використовуйте його як Селектор нащадка для тегів, щоб у вас все
коректно працювало.

-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 2</div>
	<div class='card-body task_2'>
		<h1 class='mb-2'>Centered hero</h1>
		<p class='mb-2'>Quickly design and customize responsive mobile-first sites with Bootstrap</p>
		<button class='btn btn-primary'>Submit</button>
		<button class='btn btn-outline-primary'>Submit</button>
	</div>
</section>

<!-- ============================== --><!--

Завдання №3.

- Для h1 тега: Зробіть текст вертикальним, використовуючи властивість орієнтації тексту.
- Для pre тега: Застосуйте властивість ширини табуляції і змініть розмір табуляції на 4.
- Для button тега:
1) Збільште проміжок між літерами на 2px для тексту кнопки.
2) Застосуйте властивість декорації тексту до тексту кнопки, зробіть його підкресленим

Увага!!! Звертайте увагу на те, що є клас "task_3", використовуйте його як Селектор нащадка для тегів, щоб у вас все
коректно працювало.

-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 3</div>
	<div class='card-body task_3'>
		<h1 class='mb-2'>Centered hero</h1>
		<pre>
					Quickly design and customize responsive mobile-first
      sites with Bootstrap
    </pre>
		<button class='btn btn-primary'>Submit</button>
	</div>
</section>

<!-- ============================== -->

<!--

Завдання № 4.

- Для h1 тега:
	1) Збільште розмір шрифту заголовка до 50 пікселів.
	2) Змініть стиль шрифту на "italic".

- Для p тега:
    1) Під'єднайте шрифт 'Open Sans' (Bold 700) з Google Fonts в проєкт. (підключайте через тег <link> в default.hbs)
    2) Змініть шрифт на 'Open Sans'.
    3) Зробіть прогрузку шрифту так, щоб Браузер повинен замінити на більш схожий шрифт до того моменту,
     поки заданий шрифт не буде завантажений.(swap)
	4) Зробіть шрифт жирним (700)


Увага!!! Звертайте увагу на те, що є клас "task_4", використовуйте його як Селектор нащадка для тегів, щоб у вас все
коректно працювало.

-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 4</div>
	<div class='card-body task_4'>
		<main role='main' class='container'>
			<h1 class='mt-5'>Sticky footer</h1>
			<p class='lead'>
				Pin a fixed-height footer to the
				bottom of the viewport in desktop browsers with this
				custom HTML and CSS.
			</p>
		</main>
	</div>
</section>

<!-- ============================== -->

<!--

Завдання № 5.

- Для тега div:
1) Зробіть зовнішній відступ 10px.
2) Зробіть ширину та висоту по 100px.
3) Зробіть фон червоний

- Для тега button:
1) Зробіть внутрішні та зовнішні відступи по 10px.
2) Застосуйте властивість розмір коробки, щоб розміри кнопки включав лише його вміст, не враховуючи внутрішні відступи.

- Для тега input:
1) Зробіть мінімальну ширину 150px.
2) Зробіть мінімальну висоту 45px.
3) Зробіть максимальну ширину 300px.
4) Зробіть максимальну висоту 60px.
5) Зробіть фон сірий.

- Для p тега:
1) Сховайте цей елемент за допомогою властивості відображення

Увага!!! Звертайте увагу на те, що є клас "task_5", використовуйте його як Селектор нащадка для тегів, щоб у вас все
коректно працювало.

-->
<section class='m-5 card'>
	<div class='card-header'>Завдання 5</div>
	<div class='card-body task_5'>
		<div>Contact form</div>
		<input type='text' placeholder="Введіть текст..." />
		<p>Сховай цей елемент</p>
		<button class='btn btn-primary'>Submit</button>
	</div>
</section>

<!--

Завдання № 6.

- Для тега h1:
1) Зробіть зовнішню рамку товщиною 3 пікселі, подвійною лінією, синій колір
2) Зробіть зсув зовнішньої рамки на 10px.

- Для тега div:
1) Зробіть внутрішню рамку товщиною 3 пікселі, пунктирною лінією, червоного кольору 

- Для тега button:
1) Зробіть радіус закруглення рамки 25px.
2) Задайте тінь тексту на елементі зі зміщенням вправо на 2px, вниз на 2px, розмиття 10px та колір тіні #888888.

-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 6</div>
	<div class='card-body task_6'>
		<h1 class='mb-2'>Centered hero</h1>
		<div>Contact form</div>
		<p class='mb-2'>Quickly design and customize responsive
			mobile-first sites with Bootstrap</p>
		<button class='btn btn-primary'>Submit</button>
		<button class='btn btn-outline-primary'>Submit</button>
	</div>
</section>

<!--

Завдання № 7.

- Для тега button:
1) Зробіть тінь блоку зі зміщенням вправо на 2px, вниз на 2px, розмиванням 5px, поширення 10px та кольором #666666.
2) Зробіть висоту рядка елементу зі значенням 2.

- Для тега strong:
1) Зробіть вертикальне вирівнювання по верхньому краю свого батьківського елемента (top).
2) Зробіть курсор, який вказує на те, що програма зайнята. (wait)

-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 7</div>
	<div class='card-body task_7'>
		<p>
			<span style="font-size: 40px">Big text</span>
			<strong class='mb-2'>Quickly design and customize responsive
				mobile-first sites with Bootstrap</strong>
		</p>
		<button class='btn btn-outline-primary'>Submit</button>
	</div>
</section>

<!--

 Завдання № 8.

- Для тега div:
 1) Зробіть елемент невидимим;

- Для тега p:
 1) Зробіть максимальну висоту 70px.
 2) Зробіть обрізання блоку, з смужкою прокрутки;

- Для тега h1:
 1) Зробіть максимальну висоту 50px.
 2) Зробіть обрізання блоку, якщо контент елемента не вміщується;
 3) Забороніть перенесення рядків.(nowrap)
 4) Зробіть так, щоб текст, який не поміщається в елемент, з'являвся в кінці з трьома крапками;

-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 8</div>
	<div class='card-body task_8'>
		<h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing
			elit. Dolore eaque eos error et laudantium magnam
			perspiciatis qui, sunt! Alias aliquid beatae
			consequuntur esse expedita harum nihil officia quia,
			quis repudiandae sit tenetur ut! Adipisci excepturi
			fugiat fugit ipsum qui reiciendis sapiente sit
			voluptatum! Accusamus architecto corporis ea enim
			harum illum nemo possimus quos rem ut. Atque autem
			beatae consequuntur, deserunt dicta ducimus earum eum
			facilis fugit harum hic in labore laborum magnam
			maiores maxime minus necessitatibus numquam odio
			officia omnis perspiciatis porro provident quam quasi
			rerum saepe sapiente soluta tenetur totam ullam vero
			voluptatem voluptates. Cumque minus unde voluptate
			voluptatem?
		</h1>
		<div>Зробіть елемент невидимим</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing
			elit. A dignissimos distinctio doloremque dolores
			earum facere facilis, fuga impedit iure laborum
			laudantium nesciunt nostrum optio pariatur placeat
			repellendus soluta! Ad aut commodi delectus ea eum
			eveniet, fugiat illum ipsam iusto labore laboriosam
			laudantium magni non omnis perspiciatis quia repellat
			reprehenderit tenetur velit voluptate! Accusantium
			alias architecto culpa debitis harum impedit ipsa iste
			iusto, magni maiores necessitatibus quam, quod
			repellendus repudiandae sed vero voluptatem. Ab
			aliquam blanditiis consectetur cumque deserunt est
			nulla quibusdam, rerum similique soluta! Autem commodi
			consectetur maiores molestiae, nobis officiis tenetur.
			Adipisci aliquam commodi, consectetur deleniti dolores
			doloribus earum ex exercitationem incidunt ipsam
			laudantium quisquam quos ratione repellat sint tempore
			tenetur unde. Asperiores cumque deleniti enim ipsum
			natus qui quisquam quod tenetur. Ab cumque deleniti
			doloribus enim excepturi, fuga, hic laborum maxime,
			molestiae nemo nulla quasi quia quis reiciendis sint!
			Deserunt eum facere porro rem voluptates. In iure
			minus mollitia rerum voluptatum? Amet atque cumque
			deleniti minus nihil odit quia recusandae rem
			veritatis! Culpa ipsam minus saepe. A ad aliquam
			aliquid amet aperiam aspernatur assumenda, at atque
			doloremque eaque eos, est, eum eveniet expedita in
			ipsum iste itaque iusto modi perspiciatis placeat quas
			quo reiciendis similique tempore vel vitae?
		</p>
	</div>
</section>

<!--

 Завдання № 9.


- Для тега h1:
    1) Встановіть значення властивості, яке не дозволяє словам переноситися на новий рядок, якщо вони не поміщаються в один рядок.
    2) Збільшити відстань між словами на 30px.
- Для тега div:
    1) Зробіть перенесення слова за допомогою символу (&shy;).
- Для тега p:
    1) Встановіть значення властивості, яке дозволяє словам переноситися на новий рядок, якщо вони не поміщаються в один рядок, і розділяти їх по буквах;
- Для тега textarea:
    1) Сховайте змінювання розміру елемента за допомогою миші.



-->

<section class='m-5 card'>
	<div class='card-header'>Завдання 9</div>
	<div class='card-body task_9'>
		<h1>
			Lorem ipsum dolor sit amet,dbabdbsjhbhbdjhbfgfnghjbfdhjbghjbfdjhbhjdfbhjbhjb?
		</h1>
		<div>
			Contact form Lorem
			ipsummmmmmmmnjnububvbdhvufbdvuifdhovudfhsfgbfsdhvods&shy;fjkghkdhghfkjhgkjfhdkhufhvdfnuguiheiufgbvfdkhvbiu
			dolor sit amet, consectetur adipisicing elit. Aperiam
			assumenda atque aut autem beatae corporis, culpa eaque
			earum facere facilis fugiat ipsa magni officia omnis
			pariatur reiciendis repudiandae unde ut?
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur
			adipisicingsdsdasdsafhbdshfbjsdbjfbjdsbhfbdshjbfhjsdbhbf
			elit. A dignissimos distinctio doloremque dolores
			earum facere facilis, fuga impedit iure laborum
			laudantium nesciunt nostrum optio pariatur placeat
			repellendus soluta! Ad aut commodi delectus ea eum
			eveniet, fugiat illum ipsam iusto labore laboriosam
			laudantium magni non omnis perspiciatis quia repellat
			reprehenderit tenetur velit voluptate! Accusantium
			alias architecto culpa debitis harum impedit ipsa iste
			iusto, magni maiores necessitatibus quam, quod
			repellendus repudiandae sed vero voluptatem. Ab
			aliquam blanditiis consectetur cumque deserunt est
			nulla quibusdam, rerum similique soluta! Autem commodi
			consectetur maiores molestiae, nobis officiis tenetur.
			Adipisci aliquam commodi, consectetur deleniti dolores
			doloribus earum ex exercitationem incidunt ipsam
			laudantium quisquam quos ratione repellat sint tempore
			tenetur unde. Asperiores cumque deleniti enim ipsum
			natus qui quisquam quod tenetur. Ab cumque deleniti
			doloribus enim excepturi, fuga, hic laborum maxime,
			molestiae nemo nulla quasi quia quis reiciendis sint!
			Deserunt eum facere porro rem voluptates. In iure
			minus mollitia rerum voluptatum? Amet atque cumque
			deleniti minus nihil odit quia recusandae rem
			veritatis! Culpa ipsam minus saepe. A ad aliquam
			aliquid amet aperiam aspernatur assumenda, at atque
			doloremque eaque eos, est, eum eveniet expedita in
			ipsum iste itaque iusto modi perspiciatis placeat quas
			quo reiciendis similique tempore vel vitae?
		</p>
		<textarea>
			doloribus earum ex exercitationem incidunt ipsam
			laudantium quisquam quos ratione repellat sint tempore
			tenetur unde. Asperiores cumque deleniti enim ipsum
			natus qui quisquam quod tenetur. Ab cumque deleniti
			doloribus enim excepturi, fuga, hic laborum maxime,
			molestiae nemo nulla quasi quia quis reiciendis sint!
			Deserunt eum facere porro rem voluptates. In iure
			minus mollitia rerum voluptatum? Amet atque cumque
			deleniti minus nihil odit quia recusandae rem
			veritatis! Culpa ipsam minus saepe. A ad aliquam
			aliquid amet aperiam aspernatur assumenda, at atque
			doloremque eaque eos, est, eum eveniet expedita in
			ipsum iste itaque iusto modi perspiciatis placeat quas
	  	</textarea>
	</div>
</section>